<ion-modal-view>

  <ion-header-bar class="bar-dark fix-buttons">
    <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="cancelDialog(2)">Cancel</ion-button>
    <h1 class="title">Crear Producto</h1>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <form name="formProduct" ng-model="formProduct">
      <ion-list>
        <li class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="" name="nombre" ng-model="nombre" required/>
        </li>
        <li class="item item-input">
          <span class="input-label">Descripcion</span>
          <!--<input type="text" placeholder="" name="descripcion" ng-model="descripcion" required/>-->
          <textarea name="descripcion" ng-model="descripcion" cols="10" rows="10"></textarea>
        </li>
        <ion-button ng-show="action == 'add'" ng-init="saveEmpty(formProduct)" class="button button-full button-positive"
                    ng-click="addItem(formProduct, 2)">
          Agregar
        </ion-button>
        <ion-button ng-show="action == 'change'" class="button button-full button-positive" ng-click="editItem(form)">
          Editar
        </ion-button>
      </ion-list>
    </form>
  </ion-content>

</ion-modal-view>
