<ion-view view-title="Vintage Ejuice">
  <ion-nav-title on-hold="goSettings()">
    Vintage Ejuice
  </ion-nav-title>
  <ion-content>
    <div class="col-33 padding-bottom" collection-repeat="product in products | filter:{ categories: 'E-Juice' } ">
      <div class="list card">

        <div class="item">
          <h2>{{product.title}}</h2>
          <p>${{product.price}}</p>
        </div>

        <div class="item item-image">
          <a href="#/producto/{{product.id}}">
            <img width="300px" height="300px" ng-src="{{product.featured_src}}">
          </a>
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Tamaño
          </div>
          <select ng-model="sizeSelected" ng-options="size.name for size in sizes">
          </select>

        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Nivel de Nicotina
          </div>
          <select ng-model="nicSelected" ng-options="nicotina.name for nicotina in nicotinas">
          </select>
        </label>

        <a class="button button-clear button-full button-assertive" href="#">
          <i class="icon ion-ios-cart"></i>
          Agregar
        </a>
        <ngcart-addtocart id="{{product.id}}" name="{{product.title}}"
                          price="180" quantity="1">
          <i class="icon ion-ios-cart"></i>
          Add to Cart
        </ngcart-addtocart>
      </div>
    </div>
  </ion-content>
</ion-view>
