<ion-view view-title="{{product.title}}">
  <ion-nav-title>
    {{product.title}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <ngcart-summary></ngcart-summary>
  </ion-nav-buttons>
  <ion-content>
    <div class="row">
      <div class="col col-33">
        <div class="card">
          <div class="item item-image">
            <img ng-src="{{product.featured_src}}">
          </div>
        </div>
      </div>
      <div class="col col-67">
        <div class="card">
          <div class="item item-divider">
            Descripción
          </div>
          <div class="item item-text-wrap" ng-bind-html="product.description">
          </div>
        </div>
        <div class="card">
          <div class="item item-divider">
            Ordenar
          </div>
          <div class="item item-input item-select">
            <div class="input-label">
              Tamaño
            </div>
            <select ng-model="sizeSelected" ng-options="size.size for size in sizes">
            </select>
          </div>
          <div class="item item-input item-select">
            <div class="input-label">
              Nivel de Nicotina
            </div>
            <select ng-model="nicSelected" ng-options="nicotina.name for nicotina in nicotinas">
            </select>
          </div>
          <h3 class="text-center" ng-show="sizeSelected">${{sizeSelected.precio}}</h3>
          <ngcart-addtocart id="{{product.id}}" name="{{product.title}} {{sizeSelected.size}}ml {{nicSelected.name}}"
                            price="{{sizeSelected.precio}}" quantity="1">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
