<div class="row">
  <div class="col col-10">

  </div>
  <div class="col col-80">
    <div class="card">
      <div class="item item-text-wrap balanced-bg ">
        <h1 class="light"> Total {{ ngCart.totalCost() | currency }}</h1>
      </div>
    </div>
    <ion-list can-swipe="true" show-delete="true">
      <ion-item class="item-button" ng-repeat="item in ngCart.getCart().items track by $index">
        <img ng-src="{{item.image}}">
        <h2>{{ item.getQuantity() | number }} x {{ item.getName() }}</h2>
        <span>   Precio Unitario: <b>{{ item.getTotal() | currency }}</b></span>
        <ion-option-button class="button-positive"
                           ng-click="item.setQuantity(1, true)">
          Agregar
        </ion-option-button>
        <ion-option-button class="button-positive" ng-class="{'disabled':item.getQuantity()==1}"
                           ng-click="item.setQuantity(-1, true)">
          Quitar
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="ngCart.removeItemById(item.getId())">
        </ion-delete-button>
      </ion-item>
    </ion-list>

  </div>
  <div class="col col-10">

  </div>
</div>
